{% extends 'base.html.twig' %}

{% block title %}À propos de moi{% endblock %}

{% block body %}
    <h1>Simon, développeur web</h1>

    <h2>CV</h2>
    <h3>Formations</h3>
    <h3>Expériences</h3>

    <h2>Mes passions</h2>
{% endblock %}
