{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="{{ path('app_question') }}">Question of the day</a>
{% endblock %}
