{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if question %}
        <h2>{{ question.content }}</h2>
    {% else %}
        <p>Reviens demain !</p>
    {% endif %}
{% endblock %}
