<div class="menu d-flex">
    <a class="logo" href="{{ path('app_question', { 'month': date()|date('m'), 'day': date()|date('d') }) }}">S</a>
    <div class="menu-links d-flex">
        <a class="link" href="{{ path('app_home') }}">Accueil</a>
        <a class="link" href="{{ path('app_about') }}">À propos</a>
        <a class="link" href="{{ path('app_contact') }}">Contact</a>
    </div>
</div>
