body {
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    cursor: pointer;
    color: grey;
}

.logo {

}

.logo:hover {
    cursor: auto;
    color: inherit;
}

/* HEADER */

nav {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    width: 100%;
    column-gap: 2rem;
}

nav ul {
    list-style: none;
    column-gap: 1rem;
}

/* FOOTER */

footer {
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    border-top: 1px solid grey;
    width: 100%;
    column-gap: 2rem;
    flex-direction: row-reverse;
}
